<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>Document</title>
    <link rel="stylesheet" href="style1.css"> 
</head>
<body>
  <header>
    <nav>
        <a href="./login1.html" class="home-logo"><h2 class="home-logo">IMAGE ORGANIZER</h2></a>
        <ul>
            <li><a href="#" class="nav-link">Login</a></li>
            
            <li><a href="./home.html" class="nav-link">HOME</a></li>
            <li><a href="#" class="nav-link">HELP</a></li>
            <li><a href="#" class="nav-link">CONTACT</a></li>
        </ul>
    </nav>
</header>
 
<main>
  <input type="text" id="xmn"name="GIVEPATH" placeholder="GIVEPATH" required>
  <div class="all-content">
    <button class="xyz">
      ORGANIZER
    </button>
  </div>
</main>
<img id="img1" src="./4529355.jpg">
<img id="img2" src="./Image-folders-Cristina.jpg">
</body>
</html>