<!DOCTYPE html>
<html lang="en">
<head>
  <title>hello</title>
 <link rel="stylessheet" href="style.css">
  
</head>
<body>
  <!-- <header> 
    <nav>
        <a href="#" class="home-logo"><h2 class="home-logo">IMAGE ORGANIZER</h2></a>
        <ul>
            <li><a href="#" class="nav-link">Login</a></li>
            <li><a href="#" class="nav-link">HOME</a></li>
            <li><a href="#" class="nav-link">HELP</a></li>
            <li><a href="#" class="nav-link">CONTACT</a></li>
        </ul>
    </nav>
</header> -->
  <div class="main">
    <video muted loop autoplay class="video">
    <source src="blackpic.mp4" type="video/mp4">
    </video>
  </div>
</body>
</html>